@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

:root {
    --font-family-body: 'Raleway', sans-serif;
    --background-color: #041c32;
    --input-focus-color: #0e6d99;
    --table-background-color: #0e243d;
    --accent-color: #064663;
    --links-color: #28a6e0;
    --links-color-hover: #00aeff;
    --text-color: rgb(210, 222, 233);
    --button-background-color: #064663;
    --button-background-color-hover: #0c5475;
    --input-button-height: 40px;
    --row-height: 64px;
    --button-font-size: 0.75rem;
    --delete-button-background-color: #552b3f;
    --delete-button-background-color-hover: #612d46;
    --background-color-hover: #07233d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font-family-body);
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 16px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1 {
    font-weight: 200;
    font-size: 3rem;

    padding-bottom: 32px;
}

header > p {
    padding-bottom: 8px;
    font-size: 0.9rem;
}

a:any-link {
    color: var(--links-color);
    text-decoration: none;
}

a:hover {
    color: var(--links-color-hover);
    text-decoration: underline;
}

td {
    font-size: 0.9rem;
    overflow: hidden;
}

caption {
    margin: 8px;
    font-size: 1.1rem;
}

.form-control > input:focus-visible,
.form-control > select:focus-visible {
    border: 1px solid var(--input-focus-color);
    outline: none;
}

thead {
    margin-top: 16px;
}

.form-control > input,
.form-control > select,
#btn-newbook {
    color: var(--text-color);
    height: var(--input-button-height);
    border-radius: 4px;
    border: 1px solid var(--button-background-color);
    background-color: var(--background-color);
}


/* :.:.:.:.:.::.:.:.:.:.::.:.:.:.:.::.:.:.:.:.::.:.:.:.:.::.:.:.:.:.:.: */
/* "`-._,-'"`-._,-'"`-._,-'"` DESKTOP LAYOUT -'"`-._,-'"`-._,-'"`-._,-' */
/* .-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.- */

@media only screen and (min-width: 640px) {

    html {
        display: flex;
        justify-content: center;
    }

    body {
        width: clamp(600px, 70%, 1000px);
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .new-book-container {
        width: 100%;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    #form-1 {
        display: flex;
        gap: 16px;
        justify-content: center;
        width: 100%;
    }

    .form-control {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4px;
        flex: 3;
    }

    

    .form-control > input {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control > label {
        font-size: 0.9rem;
        font-weight: 400;
    }

    .form-control > select {
        width: 100%;
    }

    #btn-newbook {
        width: 100%;
        border: none;
        background-color: var(--button-background-color);
        font-size: var(--button-font-size);
        letter-spacing: 0.1rem;
    }

    #btn-newbook:hover {
        background-color: var(--button-background-color-hover);
    }

    #btn-control,
    #select-control {
        flex: 1;
    }

    .table-container {
        width: 100%;
    }

    #book-table {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }

    td {
        flex: 1;
        display: flex; 
    }

    tr {
        display: flex;
        height: var(--row-height);
        align-items: center;
        padding-right: 16px;
        padding-left: 16px;
        gap: 16px;
        border: 1px solid var(--table-background-color);
    }

    .table-header-row {
        display: flex;
        height: 32px;
        padding-right: 16px;
        padding-left: 16px;
        gap: 16px;
        border: none;
        background-color: none;
    }

    th {
        flex: 1;
        text-align: left;

        letter-spacing: 0.1rem;
    }

    th:nth-child(3) {
        text-align: left;
        
    }

    
    td:nth-child(4) {
        justify-content: flex-end;
    }

    td > button {
        height: var(--input-button-height);
        width: 120px;
        border-radius: 4px;
        border: 1px solid var(--accent-color);
        background-color: var(--background-color);
        letter-spacing: 0.1rem;
        font-size: var(--button-font-size);
        color: var(--text-color);
    }

    .btn-delete {
        background-color: var(--delete-button-background-color);
        border: none;
    }

    .btn-delete:hover {
        background-color: var(--delete-button-background-color-hover);
    }

    tr:nth-child(odd) {
        background-color: var(--table-background-color);
    }

    tr:nth-child(1) {
        background-color: var(--background-color);
    }

    .read-true {
        background-color: var(--button-background-color);
    }
    
    .read-true:hover {
        background-color: var(--button-background-color-hover);
    }
    .read-false {
        background-color: var(--background-color);
    }

    .read-false:hover {
        background-color: var(--background-color-hover);
    }

}

/* "`-._,-'"`-._,-'"`-._,-'"`'---------------'"`-._,-'"`-._,-'"`-._,-' */
/* "`-._,-'"`-._,-'"`-._,-'"`'-MOBILE LAYOUT-'"`-._,-'"`-._,-'"`-._,-' */
/* "`-._,-'"`-._,-'"`-._,-'"`'---------------'"`-._,-'"`-._,-'"`-._,-' */

@media only screen and (max-width: 640px) {

    #book-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;

        margin-bottom: 48px;
    }

    .new-book-container {
        width: clamp(250px, 80%, 500px);
    }

    #form-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .form-control {
        width: 100%;
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .form-control > label {
        width: 70px;
    }

    .form-control > input {
        flex: 7;
    }

    .form-control > select {
        flex: 7;
        text-align: center;
    }

    .table-container {
        display: flex;
        justify-content: center;
        width: clamp(250px, 80%, 500px);
        margin-bottom: 48px;
    }

    .table-header-row {
        display: none;
    }

    tr {
        width: 100%;
        background-color: var(--background-color-hover);
        padding-bottom: 16px;
        border-radius: 6px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
    }

    td {
        display: inline-block;
        width: 100%;
        height: var(--row-height);
        line-height: var(--row-height);
        text-align: center;
        vertical-align: baseline;
        font-size: 1rem;
    }

    td > button {
        height: var(--input-button-height);
        width: 75%;
        border-radius: 4px;
        border: 1px solid var(--accent-color);
        background-color: var(--background-color);
        letter-spacing: 0.1rem;
        font-size: var(--button-font-size);
        color: var(--text-color);
    }

    .read-true {
        background-color: var(--button-background-color);
    }
    
    .read-true:hover {
        background-color: var(--button-background-color-hover);
    }
    .read-false {
        background-color: var(--background-color);
    }

    .read-false:hover {
        background-color: var(--background-color-hover);
    }

    .btn-delete {
        background-color: var(--delete-button-background-color);
        border: none;
    }

    .btn-delete:hover {
        background-color: var(--delete-button-background-color-hover);
    }

    #btn-control {
        display: flex;
        justify-content: flex-end;
    }

    #btn-newbook {
        width: 100%;
        border: none;
        background-color: var(--button-background-color);
        font-size: var(--button-font-size);
        letter-spacing: 0.1rem;
    }

    #btn-newbook:hover {
        background-color: var(--button-background-color-hover);
    }
}


